@font-face {
    font-family: sportsicons;
    src: url(../fonts/sportsicons.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: block;
}

[class*=' sportsicon-'],
[class^='sportsicon-'] {
    font-family: sportsicons !important;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.sportsicon-1:before {
    content: '';
}

.sportsicon-18:before {
    content: '';
}

.sportsicon-16:before {
    content: '';
}

.sportsicon-17:before {
    content: '';
}

.sportsicon-91:before {
    content: '';
}

.sportsicon-9:before {
    content: '';
}

.sportsicon-78:before {
    content: '';
}

.sportsicon-3:before {
    content: '';
}

.sportsicon-83:before {
    content: '';
}

.sportsicon-15:before {
    content: '';
}

.sportsicon-8:before {
    content: '';
}

.sportsicon-19:before {
    content: '';
}

.sportsicon-110:before {
    content: '';
}

.sportsicon-151:before {
    content: '';
}

.sportsicon-2:before {
    content: '';
}

.sportsicon-4:before {
    content: '';
}

.sportsicon-14:before {
    content: '';
}

.sportsicon-12:before {
    content: '';
}

.sportsicon-13:before {
    content: '';
}

.sportsicon-94:before {
    content: '';
}

.sportsicon-66:before {
    content: '';
}

.sportsicon-75:before {
    content: '';
}

.sportsicon-90:before {
    content: '';
}

.sportsicon-95:before {
    content: '';
}

.sportsicon-107:before {
    content: '';
}

.sportsicon-36:before {
    content: '';
}

.sportsicon-92:before {
    content: '';
}
